{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}
{{ define "main" }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">

    <header class="mt4 w-100">
      <p class="f6 b helvetica tracked">
        {{.Title | upper}}
      </p>
    </header>
    <section class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
      <table class="f6 w-100 mw8 center" cellspacing="0">
        <tr>
          <td class="fw6 b--black-20 tl pb3 pr3 f3">English:</td>
          <td class="pv3 pr3 f3 b--black-20">{{ .Title }}</td>
        </tr>
        <tr>
          <td class="fw6 b--black-20 tl pb3 pr3 f3">Abbreviations:</td>
          <td class="pv3 pr3 f3 b--black-20">{{ .Params.abbreviations }}</td>
        </tr>
        <tr>
          <td class="fw6 b--black-20 tl pb3 pr3 f3">Recommended translation:</td>
          <td class="pv3 pr3 f3 b--black-20">{{ .Params.recommended_translation }}</td>
        </tr>
        <tr>
          <td class="fw6 b--black-20 tl pb3 pr3 f3">Other translations:</td>
          <td class="pv3 pr3 f3 b--black-20">{{ .Params.other_translations}}</td>
        </tr>
      </table>
      <p class="f6 b">
        Justification, additional information:
      </p>
      {{- .Content -}}
      <div class="mt6">
      {{/* add a comments widget here */}}
      </div>
    </section>

    <aside class="w-30-l mt6-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>
    <script src="https://utteranc.es/client.js"
            repo="tpietruszka/data_science_dictionary_pl"
            issue-term="pathname"
            label="discussion"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
  </article>
{{ end }}
