<table id="dictMainTable" cellspacing="0" class="table table-striped table-hover table-border">
  <thead>
    <th>{{ .Site.Params.labels.term }}</th>
    <th>{{ .Site.Params.labels.abbreviation }}</th>
    <th>{{ .Site.Params.labels.recommended_translation }}</th>
    <th>{{ .Site.Params.labels.other_translations }}</th>
  </thead>
  <tbody>
    {{ range sort .Pages ".Title" }}
    {{ .Render "li"}}
    {{ end }}
  </tbody>
</table>

{{ define "header-page-extras" }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{{ end }}

{{ define "footer-page-extras" }}
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" async>
  $(document).ready(function() {
    $('#dictMainTable').DataTable( {
      'paging': false,
      'info':   false,
      'language': {
        'search': {{ .Site.Params.labels.search }}+':'
      }
    });
    $('div.dataTables_filter input').focus()
  } );
</script>
{{ end }}
