{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}
{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height nested-img">
  <section class="cf ph3 ph5-l pv3 pv4-l f4 tl center measure-wide lh-copy mid-gray">
    <p>
      Kliknij na wybrany termin żeby zobaczyć dodatkowe informacje i dyskusję.
      <br/>Kliknij <a href="https://github.com/tpietruszka/data_science_dictionary_pl" target="_blank">tutaj</a> żeby edytować stronę.
    </p>
  </section>
  <aside class="flex-ns flex-wrap justify-around mt5">
  <table class="f6 w-100 mw8 center" cellspacing="0">
    <tr>
      <th class="fw6 bb b--black-20 tl pb3 pr3">English</th>
      <th class="fw6 bb b--black-20 tl pb3 pr3">Abbreviations</th>
      <th class="fw6 bb b--black-20 tl pb3 pr3">Recommended translation</th>
      <th class="fw6 bb b--black-20 tl pb3 pr3">Other translations</th>
    </tr>
  {{ range sort .Pages ".Title" }}
    {{ .Render "li"}}
  {{ end }}
  </table>
  </aside>

    <section class="cf ph3 ph5-l pv3 pv4-l f4 tl center measure-wide lh-copy mid-gray">
      <p>
        Ten słownik ma na celu zgromadzić już stosowane, polskie tłumaczenia
        wyrażeń związanych z Data Science, Machine Learning i pokrewnymi
        dziedzinami.
      </p>
      <p>Drugim celem jest próba ustalenia, w ramach otwartej dyskusji, jakie
        jest zalecane tłumaczenie, <strong>albo że zaleca się nie tłumaczyć
        danego wyrażenia</strong>.
      </p>
    </section>
</article>
{{ end }}
